html,
body {
	background-color: #0f0f0f;
	color: #e3e3e3;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.flex {
	display: flex;
	flex-direction: column;
	place-items: center;
	place-content: center;
	height: 100dvh;
}
